{% set vhosts = salt['pillar.get']('vhosts', {}) %}

# Default server configuration
#
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;

    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location / {
	try_files $uri $uri/ =404;
    }

}

{% for vhost, info in vhosts.iteritems() %}
# Virtual Host configuration for {{ vhost }}
#
server {
    listen 80;
    listen [::]:80;

    server_name {{ info.get('server_name') }};

    root {{ info.get('root') }};
    {% if info.get('index') %}
    index {{ info.get('index') }};
    {% endif %}

    {% for route, target in info.get('aliases', {}).iteritems() %}
    location {{ route }} {
        alias {{ target }};
    }
    {% endfor %}

    location / {
        {% if info.get('proxy', None) %}
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass http://127.0.0.1:{{ info.get('proxy') }};
            break;
        }
        {% else %}
	try_files $uri $uri/ =404;
        {% endif %}
    }
}

{% endfor %}
