{% set vhosts = salt['pillar.get']('vhosts', {}) %}

# Default server configuration
#
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;

    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location / {
	try_files $uri $uri/ =404;
    }

}

{% for vhost, info in vhosts.iteritems() %}
# Virtual Host configuration for {{ vhost }}
#
server {
    listen 80;
    listen [::]:80;

    server_name {{ info.get('server_name') }};

    root {{ info.get('root') }};
    index {{ info.get('index') }};

    location / {
	try_files $uri $uri/ =404;
    }
}

{% endfor %}
