users:
  jim:
    password: $1$1aVaZ0DK$Malr7Jsa52FrwcIfOnk.m/
    fullname: Jim Bobson
    groups: [sudo, www-data]
    ssh:
      present:
        - i-am-jims-key
        - i-am-jims-other-key
  joe:
    password: $1$5N/6zVLS$WJV55JWCNpfJidKFnd7/81
    shell: /bin/zsh
    ssh:
      present:
        - i-am-joes-key
      absent:
        - i-am-no-longer-joes-key

git:
  bob:
    url: https://github.com/arecker/bobrosssearch.com
    target: /var/www/bob
    user: joe
  random.png:
    url: https://github.com/arecker/random.png.git
    target: /home/joe/git/random.png
    user: joe

mysql:
  databases:
    - jimdb
    - jimdb2
    - joeblog
  users:
    jim:
      password: jims-password
      grants:
        jimdb: select, insert, update
        jimdb2: all privileges
    joe:
      password: joes-db-password-secret
      grants:
        joeblog: all privileges

wordpress:
  joeblog:
    user: joe
    root: /var/www/joeblog/
    db_name: joeblog
    db_user: joe
    db_pass: joes-db-password-secret

virtualenvs:
  random.png:
    user: joe
    root: /home/joe/.virtualenvs/random.png
    requirements: /home/joe/git/random.png/requirements.txt

nginx:
  joeblog:
    php: True
    root: /var/www/joeblog
    host: joesblog.com
  bob:
    root: /var/www/bob
    host: bobrosssearch.local
