users:
  jim:
    fullname: Jim Bobson
    groups: [sudo, www-data]
    ssh:
      present:
        - i-am-jims-key
        - i-am-jims-other-key
  joe:
    shell: /bin/zsh
    ssh:
      present:
        - i-am-joes-key
      absent:
        - i-am-no-longer-joes-key

git:
  bob:
    url: https://github.com/arecker/bobrosssearch.com
    target: /src/bob
    user: joe

mysql:
  databases:
    - jimdb
    - jimdb2
    - joeblog
  users:
    jim:
      password: jims-password
      grants:
        jimdb: select, insert, update
        jimdb2: all privileges
    joe:
      password: joes-db-password-secret
      grants:
        joeblog: all privileges

wordpress:
  joeblog:
    user: joe
    root: /var/www/joeblog/
    db_name: joeblog
    db_user: joe
    db_pass: joes-db-password-secret

nginx:
  joeblog:
    php: True
    root: /var/www/joeblog
    host: joesblog.com
