[Unit]
Description={{ PROJECT }} Celery Service
After=network.target

[Service]
User={{ USER }}
WorkingDirectory={{ WORKING_DIR }}
ExecStart={{ CELERY }} worker -A {{ PROJECT }} -B -f {{ LOG }}

[Install]
WantedBy=multi-user.target