[Unit]
Description={{ PROJECT }} Gunicorn Service
After=network.target

[Service]
User={{ USER }}
WorkingDirectory={{ WORKING_DIR }}
ExecStart={{ GUNICORN }} {{ WSGI }} \
	     -b 0.0.0.0:{{ PORT }} \
	     --log-file {{ LOG }} \
	     --workers {{ WORKERS }}

[Install]
WantedBy=multi-user.target