[Unit]
Description={{ DESCRIPTION }}
After=network.target

[Service]
User={{ USER }}
{% if GROUP %}Group={{ GROUP }}{% endif %}
{% if WORKING_DIR %}WorkingDirectory={{ WORKING_DIR }}{% endif %}
{% for env in ENVIRONMENT %}
Environment="{{ env }}"
{% endfor %}
{% for command in PRE_START %}
ExecStartPre={{ command }}
{% endfor %}
ExecStart={{ EXEC_START }}

[Install]
WantedBy=multi-user.target