[Unit]
Description={{ description }}
After=network.target

[Service]
User={{ user }}
WorkingDirectory={{ working_dir }}
ExecStart={{ gunicorn }} {{ wsgi }} -b 0.0.0.0:{{ port }} --log-file {{ log }} --workers 3

[Install]
WantedBy=multi-user.target