{% set nginx = salt['grains.filter_by']({
    'default': {
	'package': 'nginx',
	'service': 'nginx',
	'user': 'www-data',
	'group': 'www-data',
	'config': '/etc/nginx/nginx.conf',
	'root': '/var/www/',
    }
}, merge=salt['pillar.get']('nginx:lookup'), base='default') %}
