{% set virtualenv = salt['grains.filter_by']({
    'default': {
	'packages': [
	    'python-dev',
	    'python-virtualenv',
	    'libjpeg-dev',
	]
    },
    'RedHat': {
	'packages': [
	    'python-virtualenv',
	    'libjpeg-turbo-devel',
	    'zlib-devel',
	    'gcc',
	]
    },
}, merge=salt['pillar.get']('virtualenv:lookup'), base='default') %}
