{% set mysql = salt['grains.filter_by']({
    'default': {
	'service': 'mysql',
	'packages': ['mysql-server', 'python-pip']
    },
    'RedHat': {
	'service': 'mariadb',
	'packages': [
	    'mariadb-devel',
	    'mariadb-server',
	    'mariadb-libs',
	    'python2-pip'
	]
    },
}, merge=salt['pillar.get']('mysql:lookup'), base='default') %}
