# Default server configuration
#
server {
    listen 80 default_server;
    root /var/www/html;
    index index.html;
    server_name _;
    location / {
	try_files $uri $uri/ =404;
    }
    location = /info.php {
        allow 127.0.0.1;
        deny all;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}
    
{% for site, info in sites.iteritems() %}
{% set php = info.get('php', False) %}
{% set ssl = info.get('ssl', False) %}

{% if ssl %}
# {{ site }} https redirect
#
server {
       listen         80;
       server_name    {{ info['host'] }};
       return         301 https://$server_name$request_uri;
}
{% endif %}

# {{ site }} server configuration
#
server {
    {% if ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ info['host'] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ info['host'] }}/privkey.pem;
    {% else %}
    listen 80;
    {% endif %}
    root {{ info['root'] }};
    index index.html index.htm {% if php %}index.php{% endif %};
    server_name {{ info['host'] }};

    location / {
	{% if info.get('php', False) %}
	try_files $uri $uri/ /index.php?q=$uri&$args;
	{% else %}
	try_files $uri $uri/ =404;
	{% endif %}
    }

    {% if php %}
    location ~ \.php$ {
	try_files $uri =404;
	fastcgi_split_path_info ^(.+\.php)(/.+)$;
	fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_index index.php;
	include fastcgi_params;
    }
    {% endif %}

    location ~ /.well-known {
        allow all;
    }
}
{% endfor %}
