# Default server configuration
#
server {
    listen 80 default_server;
    root /var/www/html;
    index index.html;
    server_name _;
    location / {
	try_files $uri $uri/ =404;
    }
}

{% for site, info in sites.iteritems() %}
{% set php = info.get('php', False) %}
# {{ site }} server configuration
#
server {
    listen 80;
    root {{ info['root'] }};
    index index.html index.htm {% if php %}index.php{% endif %};
    server_name {{ info['host'] }};

    location / {
	{% if info.get('php', False) %}
	try_files $uri $uri/ /index.php?q=$uri&$args;
	{% else %}
	try_files $uri $uri/ =404;
	{% endif %}
    }

    {% if php %}
    location ~ \.php$ {
	try_files $uri =404;
	fastcgi_split_path_info ^(.+\.php)(/.+)$;
	fastcgi_pass unix:/var/run/php5-fpm.sock;
	fastcgi_index index.php;
	include fastcgi_params;
    }
    {% endif %}
}
{% endfor %}
