{% set redis = salt['grains.filter_by']({
    'default': {
	'packages': ['redis-server'],
	'service': 'redis-server'
    },
    'RedHat': {
	'packages': ['redis'],
	'service': 'redis'
    },
}, merge=salt['pillar.get']('redis:lookup'), base='default') %}
